body {
    background-color: rgb(253, 251, 251);
    padding: 3px;
}
header {
    position: fixed; 
    top:0%;
    width: 100%;
    background-color: darkslategray;
}
nav a {
    color: seagreen;
    font-family: cursive;
    text-decoration: none;
}
img {
    width: 200px;
    border-radius: 20px;
    border: 2px solid gray;
}

h1, h2 {
    font-family: cursive;
    color: seagreen;
    margin-left: 3%;
}
nav a {margin-left: 3%;}
.textos p {
    font-size: 17px;
    line-height: 30px;
    margin-left: 3%;
}
footer p, a {
    color: seagreen;
    font-family: cursive;
    text-decoration: none;   
}
footer {
    background-color: darkslategray;
    width: 100%;
}
footer p {
    margin-left: 3%;
}

.prof {margin-top: 8%;}

.textos, .listas, .prof {display: flex;}
table, tr, td {border: 2px solid black;}