body {
    background-color: rgb(253, 251, 251)
}
header {
    position: fixed; 
    top:0%
}
img {
    width: 200px
}
h1, h2 {
    font-family: cursive;
    color: seagreen;
}
p {
    font-size: 17px;
    line-height: 30px;
}